/* start */
html {
    position: relative;
    min-height: 100%;
  }

  body {
     background-color: white;
  }


/* navbar part */

.navbar-bg-custom{
    background-color: white;
}

#mainheader {
   
    font-size: 35px;
    background-color: rgb(24, 137, 156);
    color:white;
    font-weight:bold;

  }

 
@media (max-width: 991px) {

.navbar-bg-custom{
    background-color: rgb(24, 137, 156)
} 
