/* start */
html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 150px;
    
    background-color: rgba(224, 217, 217, 0.918);
  }

  @media only screen and (max-width: 991px) {
  
  body {
        background-color: white;
    } 
  }



/* navbar part */

.bg-custom{
    background-color:white;
}

#mainheader {
   
  /* #typography */
    font-size: 30px;
    background-color: rgb(24, 137, 156);
    color:white;
    font-weight:bold;
  
  /* #box */
  height:60px;
  padding-top: 5px;
  padding-bottom: 5px;

  /* #positioning */
  margin-left: 50px;

  }

 

@media only screen and (max-width: 991px) {


.bg-custom {
    background-color: rgb(24, 137, 156)
} 

#mainheader {
  width:100%;

  /* #typography */
  font-size: 25px;
  color:white;
  font-weight:bold;
  background-color: rgb(24, 137, 156);

  /* #box */
  height:60px;
  padding-top: 5px;
  padding-bottom: 5px;

  /* #positioning */
  margin-left: 0;

  }

} 



/* <----summary part-----> */

.summaryContent {
  padding: 30px;

  margin-top: 20px;

  background-color: white;

}

.summaryContent > p {
  /* Box-model */
  padding-top: 10px;

  /* Typography */
  font-size: 15px;
  line-height: 30px;
  color: slategray;
}

.summary-header {

  margin-bottom: 20px;

  font-size: 35px;
  font-weight:bold;
  color:rgb(24, 137, 156);

}


#summary-image{

  float:left;

  /* #box */
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;

}

@media only screen and (max-width: 991px) {

  .summaryContent {
    padding: 0;
    margin-top: 5px;
  
  }
}

/* <-----visualization part----> */

#vis-area{
  width:100%;

  padding: 30px 30px 50px;

  margin-top: 20px;

 background-color: white;
}

.vis-header{
  
  margin-bottom: 15px;

  font-size: 25px;
  font-weight:bold;
  color:rgb(24, 137, 156);

}

#vis-images{

  padding-top: 15px;
  text-align: center;
}


.vis-pic {
  width: 130px;
  height: 130px;
}

.vis-pic:hover {
  opacity: 0.5;
}

.vis-pic.active {
  border: 2px solid #fc790e ;
}



#page-image{
  
  float: center;

  /* Box-model */
  width: 500px;
  height: 300px;
}


.com-text{
padding-bottom: 20px;
}

.comparison-header{
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: bold;
  color: rgb(24, 137, 156);
  text-align: center;

}